{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的消息
{% endblock title %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'my_notifications.css' %}">
{% endblock header_extends %}

{% block nav_user_active %}
    active
{% endblock nav_user_active %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <a class="btn btn-primary" href="{% url 'notifications:mark_all_as_read' %}?next={% url 'my_notifications' %}">全部已读</a>
                <a class="btn btn-danger" href="{% url 'delete_all_read_notifications' %}">删除已读</a>
                <ul class='notifications'>
                    {% for notification in request.user.notifications.all %}
                        <li class="{% if not notification.unread %}read{% endif %}">
                            {{ notification.timesince }}前&emsp;<a href="{% url 'notification' notification.id %}">{{ notification.verb }}</a>
                        </li>
                    {% empty %}
                        <li>暂无消息</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}