{% extends 'base.html' %}
{% load static %}

{% block title %}
    首页
{% endblock title %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock header_extends %}

{% block nav_home_active %}
    active
{% endblock nav_home_active %}

{% block content %}
    <h3 class='home-content'> 欢迎大家! </h3>
    <!-- 图表容器 DOM -->
    <div id="container"></div>
    <script>
        // 图表配置
        var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
                title:{ text:'最近一周阅读情况' }
            },
            yAxis: {
                title: { text: null },
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ read_nums }}               // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false },
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
    <div class="hot-blog">
        <h3>今日热门文章</h3>
        <ul>
            {% for hot_blog in today_hot_blog %}
                <li><a href="{% url 'blog_detail' hot_blog.content_object.id %}">{{ hot_blog.content_object.title }}</a>({{ hot_blog.read_num }})</li>
            {% empty %}
                <li>暂无热门文章</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-blog">
        <h3>昨日热门文章</h3>
        <ul>
            {% for hot_blog in yesterday_hot_blog %}
                <li><a href="{% url 'blog_detail' hot_blog.content_object.id %}">{{ hot_blog.content_object.title}}</a>({{ hot_blog.read_num }})</li>
            {% empty %}
                <li>暂无热门文章</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-blog">
        <h3>本周热门文章</h3>
        <ul>
            {% for hot_blog in week_hot_blog %}
                <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})</li>
            {% empty %}
                <li>暂无热门文章</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-blog">
        <h3>本月热门文章</h3>
        <ul>
            {% for hot_blog in month_hot_blog %}
                <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})</li>
            {% empty %}
                <li>暂无热门文章</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}